# Node modules
node_modules/
client/
custom-web-player/

# Logs
logs/
*.log

# Dependency directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel build output
.vercel/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db